# Test Jupyter Notebook
# First Title (H1)

## In this notebook, Data Science Tools and Ecosystem are summarized.

### ***The objectives achieved in this course were***
  + Create Markdown cells with different character sizes and different formats.
  + Create Markdown cells with bullets and tables.
  + Create code cells with arithmetic operations

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C y C++
6. Scala

### Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- Matplotlib
- Scikit-Learn
- TensorFlow

### Some of the commonly tools used in Data Scientists are:
| Name of Tool |
| -------------|
| Tableau |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

- x = 27
- y = 12
    + add = x + y
    + sub = x - y
    + pro = x * y
    + div = x / yx / y

In [16]:
# This a simple arithmeticexpression to mutiply then add integers.
a = 5 + 7
b = 5 * 8
c = (3 * 4) + 517
print(a)
print(b)
print(c)

12
40
529

In [18]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
### Miguel √Ångel De Almeida Matas